.MuiDialog-container .MuiPaper-root {
  background-color: var(--modal-background);
  color: var(--dark-text);
  padding: 25px;
  gap: 25px;
}

.MuiDialog-container .MuiDialogContent-root {
  padding: 0;
}

.MuiDialog-container h2 {
  font-weight: 800;
  padding: 0;
  font-size: 26px;
}

.MuiDialog-container button,
.MuiDialog-container .MuiFormControlLabel-root span {
  border-radius: 50px;
  font-weight: 600;
}

.MuiDialog-container button#save-playlist-button {
  color: black;
}

.MuiDialog-container input[type="text"] {
  background-color: var(--gray-background);
  border-radius: 10px;
}

.MuiDialog-container label,
.MuiDialog-container svg {
  color: var(--dark-text) !important;
}

#cancel-saving-playlist-button {
  color: var(--dark-text);
  border: solid var(--dark-text);
}
