#title-author-character-container,
#mood-keyword-container {
  display: flex;
  gap: 15px;
  flex-direction: column;
}

#title-author-container {
  display: flex;
  gap: 15px;
  @media screen and (max-width: 480px) {
    flex-direction: column;
  }
}

fieldset,
div.MuiFormControl-root {
  gap: 5px;
}

label,
div label {
  font-weight: bold !important;
}

#playlist-type-form-control {
  display: flex;

  @media screen and (min-width: 481px) {
    flex-direction: row;
    align-items: center;
    gap: 15px;
  }
  @media screen and (max-width: 480px) {
    flex-direction: column;
  }
}

#playlist-type-radio-group {
  display: flex;
  flex-wrap: no-wrap !important;
  @media screen and (max-width: 480px) {
    gap: 4%;
  }
}

#form-container fieldset svg,
#form-container div svg {
  color: white !important;
}

#create-playlist-button {
  width: 30%;
  margin: auto 0 auto auto;
  font-weight: 600;
  border-radius: 50px;
}

.Mui-disabled#create-playlist-button {
  background-color: white;
  color: black;
  opacity: 30%;
}

.required-asterisk {
  color: white;
}

#loading-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
