#title-author-character-container,
#mood-keyword-container {
  display: flex;
  gap: 15px;
  flex-direction: column;
}

#title-author-container {
  display: flex;
  gap: 15px;
  @media screen and (max-width: 480px) {
    flex-direction: column;
  }
}

fieldset,
div.MuiFormControl-root {
  gap: 5px;
}

label,
div label {
  font-weight: bold !important;
}

#playlist-type-form-control {
  display: flex;

  @media screen and (min-width: 769px) {
    flex-direction: row;
    align-items: center;
    gap: 15px;
  }
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

#playlist-type-radio-group {
  display: flex;
  flex-wrap: no-wrap !important;
  @media screen and (max-width: 768px) {
    gap: 4%;
  }
}

#form-container fieldset svg,
#form-container div svg {
  color: white !important;
}

#create-playlist-button {
  width: fit-content;
  margin: auto 0 auto auto;
}

.Mui-disabled#create-playlist-button {
  background-color: #1fd760;
  color: black;
  opacity: 50%;
}

.required-asterisk {
  color: white;
}

#loading-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.MuiFormLabel-root {
  color: white !important;
}
.MuiButtonBase-root.MuiRadio-root {
  color: white;
}

.MuiFormControl-root,
.MuiInputBase-root,
.MuiInputBase-input {
  width: 100%;
}

.MuiFormGroup-root {
  flex-wrap: nowrap;
}

.MuiFormControlLabel-root {
  display: flex;
  align-items: center !important;
  margin: 0 !important;
}

.MuiChip-root {
  background-color: #1fd760 !important;
  font-weight: bold;
}

#form-container
  .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-fullWidth.MuiInputBase-formControl.MuiAutocomplete-inputRoot {
  background-color: #292929;
}

#form-container input[type="text"],
.MuiSelect-select {
  background-color: #292929 !important;
  border-radius: 10px;
}

input[type="text"] {
  color: white;
}
