/* HOME PAGE */
#home-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 50px;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

#home-text-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: auto;
}

#home-img {
  max-width: 100%;
}

#form-content {
  padding: 25px 0;
  flex-direction: column;
}

#text-fields {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#books-favicon {
  height: 100%;
}

.columns {
  display: flex;
  align-items: center;
  gap: 20px;
}

button {
  font-weight: 800 !important;
  border-radius: 50px !important;
}

#main-home {
  margin: 0 13%;

  @media screen and (max-width: 768px) {
    margin: 10% 13%;
  }
}

#home-heading {
  display: flex;
  gap: 60px;

  @media screen and (max-width: 364px) {
    gap: 80px;
  }
}
