#playlist-list {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media screen and (min-width: 1024px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.BackgroundColorContainer_backgroundColorContainer__YZSQ7 {
  background-color: pink !important;
}

#playlist-page-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

#playlist-page-container #save-playlist-button {
  width: 30%;
  margin: auto 0 auto auto;
}
