/* Styling that is specific to each product card */
/* GENERAL */
#product-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  column-gap: 5%;
  row-gap: 5em;
  margin: 50px 0;
}

.product-card {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.product-image {
  border: 2px solid black;
  aspect-ratio: 1/1;
}

/* PRODUCT options */
.product-options {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto auto;
  gap: 7px;
  align-items: center;
}

button.add-to-cart-cta {
  padding: 5px;
}

.product-card select {
  border: 2px solid black;
  padding: 3px;
}

.pack-size-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5px;
}

.pack-btn {
  background-color: white;
  border: 2px solid black;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  padding: 7px 0;
}

.pack-btn:hover,
.pack-btn:focus {
  background-color: #ddd;
}

input[type="radio"]:checked + .pack-btn {
  background-color: #aaa;
}
