/* global styles */
:root {
  --spotify-green: #1fd760;
  --black-background: #000000;
  --gray-background: #363636;
  --modal-background: #1a1a1a;
  --light-text: #fff;
  --dark-text: #ffffff;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--black-background);
  color: var(--light-text);
}

main {
  margin: 5% 13%;
}

button {
  width: 100%;
}
